body,
html {
  width: 100vw;
  height: 100vh;
  background: white;
}

#app {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.bg {
  background-image: url('../images/bg.jpeg');
  background-position: center;
  background-size: 100% 100%;
}

.pl-bg-test {
  padding: 2.2rem 1rem 1rem 2.2rem !important;
}

h3 {
  margin-bottom: 0;
}

.focus_logo {
  height: 1.8rem;
  position: absolute;
  bottom: 2rem;
}

.type-text-color {
  color: #797575;
}

.d-flex-test{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.mt-focus{
  margin-top: -2.8rem;
}

.loading_bg{
  width: 2rem;
  position: absolute;
  top: 3rem;
}

.hide{
  display: none;
}