.choose_div div {
  height: 2.6rem;
  width: 75%;
  line-height: 2.6rem;
  text-align: center;
  border: 1px #ffaeac solid;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  transition: all .2s;
  border-radius: .25rem;
  letter-spacing: 5px;
}

.choose_div .active {
  background: #ffaeac;
  color: white;
}

.success_img{
  width: 6rem;
}

.back_btn{
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  left:1rem;
  top: 1rem;
}
.back_btn > i{
  font-size: 2rem;
}


.small_text_all{
  font-size: 0.8rem !important;
}

.font-color-text{
  font-family: "hyq";
  font-size: 12px;
  color: white;
}

.small_s{
  font-size: 75%;
}